{cover_enabled, true}.
{erl_opts, 
    [
        debug_info,
        {parse_transform, lager_transform},
        {i, "./pb_gen"},
        {d, 'APP_NAME', myapp}
    ]
}.
{deps, [
    {protobuffs, ".*", {git, "git://github.com/ivgco/erlang_protobuffs"}},
    {lager, ".*", {git, "git://github.com/basho/lager"}},
    {ranch, ".*", {git, "https://github.com/extend/ranch.git"}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}}
]}.
{protobuf_dirs, ["../common/protos/"]}.
{output_include_dir, "pb_gen"}.
{outdir, "ebin"}.
